.planDurationSelectorContainer {
	position: relative;
	height: 25px;
}

.planDurationSelector {
	position: absolute;
	top: 0;
	right: 0;
	width: 200px;
	height: 28px;
	border: 1px solid rgb(85, 81, 81);
	border-radius: 12px;

	display: grid;
	grid-template-columns: 1fr 1fr;

	padding-left: 3px;
	padding-top: 2px;
}

.planButton {
	width: 95px;
	height: 22px;
	border-radius: 10px;

	padding-top: 5px;
	padding-left: 30px;

	cursor: pointer;
}

.planButton:hover {
	background-color: lightblue;
}
