.planDurationSelectorContainer {
	height: 25px;
	margin-top: 15px;
	padding-right: 30px;
	display: flex;
	justify-content: end;
}

/* For displaying the selector responsively */
@media (max-width: 1275px) {
	.planDurationSelectorContainer {
		justify-content: center;
	}
}

@media (max-width: 1085px) {
	.planDurationSelectorContainer {
		justify-content: start;
	}
}

.planDurationSelector {
	height: 28px;
	border: 1px solid rgb(85, 81, 81);
	border-radius: 12px;

	display: grid;
	grid-template-columns: 1fr 1fr;

	padding-left: 3px;
	padding-top: 2px;
}

.planButton {
	width: 95px;
	height: 22px;
	border-radius: 10px;

	padding-top: 5px;
	padding-left: 30px;

	cursor: pointer;
}

.planButton:hover {
	background-color: lightblue;
}
